yt-dlp
discord.py >= 2.6.0
howlongtobeatpy >= 1.0.18
feedparser >= 6.0.11
mmh3 >= 4.1.0
bibtexparser >= 2.0.0b8
audioop-lts; python_version>='3.13' # Temporary fix for 3.13 deprecating audioop and discord.py requiring it even without voice support
